* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 40px;
}
.dashboard-title {
    background-color: black;
    text-align: center;
    height: 60px;
}
.title {
    color: white;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.city-container {
    border: 1px solid blue;
}

.city-search-container {
    border: 1px solid red;
} 
label {
    display:block;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bolder;
}
input {
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 9px 14px;
    font-size: 15px;
    margin-top: 5px;
    /*cursor: pointer; */
}
.btn:hover {
    background-color: royalblue;
}
.input-box, .button-box {
    /* border: 1px solid black; */
    height: 45px;
}

.history-container {
    margin-top: 10px;
    margin-left: 10px;
}
.weather-content {
    border: 1px solid brown;
}
.current-weather {
    margin-top: 20px;
    border: 1px solid black;
    height: 200px;
}
#uv-index {
    background-color: green;
    color: white;
    padding: 5px;
}

.weather-forecast {
    margin-top: 20px;
    height: 200px;
    border: 1px solid green;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {




}